@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=JetBrains+Mono&display=swap');

@theme {
  --color-cta: #704326;
  --color-element: #a68c6d;
  --color-link: #497c78;
  --color-link-hover: #4ba3a2;
  --color-text-secondary: #766c65;
  --color-highlight-rn: #06bcee;
  --color-highlight-bg: #e4f6f9;
  --color-spring-wood: #f8f5f0;
  --color-morocco-brown: #442000;

  --font-inter: 'Inter', sans-serif;
  --font-jetbrains: 'JetBrains Mono', monospace;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color: #442000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8f5f0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  overflow-y: auto;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1.6em var(--hover-shadow-color));
}

.logo.reactNative:hover {
  filter: drop-shadow(0 0 1.6em #06bcee);
}

.logo.typescript:hover {
  filter: drop-shadow(0 0 1.6em #3179c6);
}

.logo.expo:hover {
  filter: drop-shadow(0 0 1.6em #766c65);
}
