@import 'tailwindcss';

@theme {
  --color-cta: #8c3b00;
  --color-element: #a68c6d;
  --color-link: #497c78;
  --color-link-hover: #4ba3a2;
  --color-text-secondary: #766c65;
  --color-highlight-rn: #06bcee;
  --color-highlight-bg: #e4f6f9;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #442000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8f5f0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  overflow-y: auto;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
